<div class="flex flex-col gap-12">
  <header class="flex flex-col">
    <h1 class="text-2xl text-gray-900">App Cartões</h1>
    <div class="flex gap-2">
      <input [formControl]="document" placeholder="Informe o CPF" />
      <button
        [disabled]="!document.valid"
        (click)="handleGetCards()"
        class="rounded bg-orange-500 appearance-none text-orange-50 cursor-pointer disabled:bg-gray-500 disabled:text-gray-100"
      >
        Processar
      </button>
    </div>
    @if (!documentValid) {
      <span class="pt-2 text-red-500">Documento inválido, preencha corretamente.</span>
    }
  </header>

  <div class="h-[1px] w-full bg-gray-200"></div>

  @if (loading) {
    <div
      class="bg-orange-100 rounded text-orange-800 font-bold text-lg h-56 flex p-2 items-center justify-center animate-pulse"
    >Carregando...</div>
  } @else {
    <div class="flex flex-col gap-2">
      @for (card of cardsData; track card) {
        <div class="flex flex-col gap-1 bg-white w-full rounded shadow p-5">
          <div class="flex justify-between text-center">
            <span class="text-orange-500 font-bold text-lg"
              >{{card?.numero || 'Número não encontrado'}}</span
            >
            <span class="rounded text-orange-50 bg-orange-500 p-1">
              {{card?.bandeira | uppercase}}
            </span>
          </div>
          <span class="text-gray-500">Limite de {{card.limite | currency: 'R$' }}</span>
          <span class="text-gray-600 font-medium">{{card?.tipo | uppercase}}</span>
          <span class="text-gray-500">{{card?.nome || 'Nome não encontrado'}}</span>
        </div>
      } @empty {
        <div
          class="bg-orange-50 rounded h-56 flex p-2 items-center justify-center"
        >
          <span class="text-orange-800 font-bold text-lg"
            >Nenhum cartão encontrado.</span
          >
        </div>
      }
    </div>
  }
</div>
